@charset "utf-8";

/* text decoration - START */
.tdu {text-decoration:underline !important}
.ellip {overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.tal {text-align:left !important}
.tar {text-align:right !important}
.tac {text-align:center !important}
.fs12 {font-size:12px !important}
.fs13 {font-size:13px !important}
.fs14 {font-size:14px !important}
.fs15 {font-size:15px !important}
.fs16 {font-size:16px !important}
.fs17 {font-size:17px !important}
.fs18 {font-size:18px !important}
.fs19 {font-size:19px !important}
.fs20 {font-size:20px !important}
.fs21 {font-size:21px !important}
.fs22 {font-size:22px !important}
.fs23 {font-size:23px !important}
.fs24 {font-size:24px !important}
.fs25 {font-size:25px !important}
.fs26 {font-size:26px !important}
.fs27 {font-size:27px !important}
.fs28 {font-size:28px !important}
.fwb {font-weight:bold !important}
.fwn {font-weight:normal !important}
.fwc {font-weight:300 !important}
.txt_gray {color:#979797}
.txt_orange {color:#FF8F38}
.txt_blue {color:#0369D1}
.txt_red {color:#FB6262}

/* form deco - START */
.fl {float:left !important}
.fr {float:right !important}
.nofl * {float:none !important}
.fln {float:none !important}
.dib {display:inline-block !important}
.din {display:inline !important}
.dbl {display:block !important}
.bdno {border:none !important}
.blno {border-left:none !important}
.brno {border-right:none !important}
.bbno {border-bottom:none !important}
.btno {border-top:none !important}
.bt {border-top:1px solid #e5e8eb}
.bb {border-bottom:1px solid #e5e8eb}
.bl {border-left:1px solid #e5e8eb}
.br {border-right:1px solid #e5e8eb}
.rel {display:relative}
.tablecell {display:table;width:100%}
.tablecell .cell {vertical-align:middle;display:table-cell}
.vat {vertical-align:top !important}
.vam {vertical-align:middle !important}
.vab {vertical-align:bottom !important}
.bgnon {background:none !important}
.blind  {overflow:hidden;position:absolute;width:1px;height:1px;margin:-1px;color:transparent;clip:rect(0 0 0 0)}

.per100 {width:100% !important}
.per95 {width:95% !important}
.per90 {width:90% !important}
.per85 {width:85% !important}
.per80 {width:80% !important}
.per75 {width:75% !important}
.per70 {width:70% !important}
.per65 {width:65% !important}
.per60 {width:60% !important}
.per55 {width:55% !important}
.per50 {width:50% !important}
.per45 {width:45% !important}
.per40 {width:40% !important}
.per35 {width:35% !important}
.per30 {width:30% !important}
.per25 {width:25% !important}
.per20 {width:20% !important}
.per15 {width:15% !important}
.per10 {width:10% !important}
.per5 {width:5% !important}

.lh12 {line-height:12px !important}
.lh13 {line-height:13px !important}
.lh14 {line-height:14px !important}
.lh15 {line-height:15px !important}
.lh16 {line-height:16px !important}
.lh17 {line-height:17px !important}
.lh18 {line-height:18px !important}
.lh19 {line-height:19px !important}
.lh20 {line-height:20px !important}
.lh30 {line-height:30px !important}


/* padding, margin */
.pt0 {padding-top:0px !important} 
.pt5 {padding-top:5px !important} 
.pt10 {padding-top:10px !important} 
.pt15 {padding-top:15px !important} 
.pt20 {padding-top:20px !important} 
.pt25 {padding-top:25px !important} 
.pt30 {padding-top:30px !important} 
.pt35 {padding-top:35px !important} 
.pt40 {padding-top:40px !important} 
.pt45 {padding-top:45px !important} 
.pt50 {padding-top:50px !important} 
.pt55 {padding-top:55px !important} 
.pt60 {padding-top:60px !important} 

.pr0 {padding-right:0px !important}
.pr5 {padding-right:5px !important}
.pr10 {padding-right:10px !important}
.pr15 {padding-right:15px !important}
.pr20 {padding-right:20px !important}
.pr25 {padding-right:25px !important}
.pr30 {padding-right:30px !important}
.pr35 {padding-right:35px !important}
.pr40 {padding-right:40px !important}
.pr45 {padding-right:45px !important}
.pr50 {padding-right:50px !important}
.pr55 {padding-right:55px !important}
.pr60 {padding-right:60px !important}

.pb0 {padding-bottom:0px !important}
.pb5 {padding-bottom:5px !important}
.pb10 {padding-bottom:10px !important}
.pb15 {padding-bottom:15px !important}
.pb20 {padding-bottom:20px !important}
.pb25 {padding-bottom:25px !important}
.pb30 {padding-bottom:30px !important}
.pb35 {padding-bottom:35px !important}
.pb40 {padding-bottom:40px !important}
.pb45 {padding-bottom:45px !important}
.pb50 {padding-bottom:50px !important}
.pb55 {padding-bottom:55px !important}
.pb60 {padding-bottom:60px !important}

.pl0 {padding-left:0px !important}
.pl5 {padding-left:5px !important}
.pl10 {padding-left:10px !important}
.pl15 {padding-left:15px !important}
.pl20 {padding-left:20px !important}
.pl25 {padding-left:25px !important}
.pl30 {padding-left:30px !important}
.pl35 {padding-left:35px !important}
.pl40 {padding-left:40px !important}
.pl45 {padding-left:45px !important}
.pl50 {padding-left:50px !important}
.pl55 {padding-left:55px !important}
.pl60 {padding-left:60px !important}

.mt0 {margin-top:0px !important} 
.mt5 {margin-top:5px !important} 
.mt10 {margin-top:10px !important} 
.mt15 {margin-top:15px !important} 
.mt20 {margin-top:20px !important} 
.mt25 {margin-top:25px !important} 
.mt30 {margin-top:30px !important} 
.mt35 {margin-top:35px !important} 
.mt40 {margin-top:40px !important} 
.mt45 {margin-top:45px !important} 
.mt50 {margin-top:50px !important} 
.mt55 {margin-top:55px !important} 
.mt60 {margin-top:60px !important} 

.mr0 {margin-right:0px !important}
.mr5 {margin-right:5px !important}
.mr10 {margin-right:10px !important}
.mr15 {margin-right:15px !important}
.mr20 {margin-right:20px !important}
.mr25 {margin-right:25px !important}
.mr30 {margin-right:30px !important}
.mr35 {margin-right:35px !important}
.mr40 {margin-right:40px !important}
.mr45 {margin-right:45px !important}
.mr50 {margin-right:50px !important}
.mr55 {margin-right:55px !important}
.mr60 {margin-right:60px !important}

.mb0 {margin-bottom:0px !important}
.mb5 {margin-bottom:5px !important}
.mb10 {margin-bottom:10px !important}
.mb15 {margin-bottom:15px !important}
.mb20 {margin-bottom:20px !important}
.mb25 {margin-bottom:25px !important}
.mb30 {margin-bottom:30px !important}
.mb35 {margin-bottom:35px !important}
.mb40 {margin-bottom:40px !important}
.mb45 {margin-bottom:45px !important}
.mb50 {margin-bottom:50px !important}
.mb55 {margin-bottom:55px !important}
.mb60 {margin-bottom:60px !important}

.ml0 {margin-left:0px !important}
.ml5 {margin-left:5px !important}
.ml10 {margin-left:10px !important}
.ml15 {margin-left:15px !important}
.ml20 {margin-left:20px !important}
.ml25 {margin-left:25px !important}
.ml30 {margin-left:30px !important}
.ml35 {margin-left:35px !important}
.ml40 {margin-left:40px !important}
.ml45 {margin-left:45px !important}
.ml50 {margin-left:50px !important}
.ml55 {margin-left:55px !important}
.ml60 {margin-left:60px !important}

/* 입력 너비 사이즈 */
.wd20 {width:20px}
.wd25 {width:25px}
.wd30 {width:30px}
.wd35 {width:35px}
.wd40 {width:40px}
.wd45 {width:45px}
.wd50 {width:50px}
.wd55 {width:55px}
.wd60 {width:60px}
.wd70 {width:70px}
.wd80 {width:80px}
.wd90 {width:90px}
.wd100 {width:100px}
.wd110 {width:110px}
.wd120 {width:120px}
.wd130 {width:130px}
.wd140 {width:140px}
.wd150 {width:150px}
.wd160 {width:160px}
.wd170 {width:170px}
.wd180 {width:180px}
.wd190 {width:190px}
.wd200 {width:200px}
.wd210 {width:210px}
.wd220 {width:220px}
.wd230 {width:230px}
.wd240 {width:240px}
.wd250 {width:250px}
.wd260 {width:260px}
.wd270 {width:270px}
.wd280 {width:280px}
.wd290 {width:290px}
.wd300 {width:300px}
.wd310 {width:310px}
.wd320 {width:320px}
.wd330 {width:330px}
.wd340 {width:340px}
.wd350 {width:350px}
.wd360 {width:360px}
.wd370 {width:370px}
.wd380 {width:380px}
.wd390 {width:390px}
.wd400 {width:400px}
.wd450 {width:450px}
.wd500 {width:500px}
.wd550 {width:550px}
.wd600 {width:600px}
.wd650 {width:650px}
.wd700 {width:700px}
.wd33p {width:33.33%;min-width:0}
.wd50p {width:50%;min-width:0}
.wd_half {width:50%;min-width:0}
.wd_full {width:100%;min-width:0}

.w2tb .wd60 {max-width:60px;min-width:0}
.w2tb .wd70 {max-width:70px;min-width:0}
.w2tb .wd80 {max-width:80px;min-width:0}
.w2tb .wd90 {max-width:90px;min-width:0}
.w2tb .wd100 {max-width:100px}
.w2tb .wd110 {max-width:110px}
.w2tb .wd120 {max-width:120px}
.w2tb .wd130 {max-width:130px}
.w2tb .wd140 {max-width:140px}
.w2tb .wd150 {max-width:150px}
.w2tb .wd160 {max-width:160px}
.w2tb .wd170 {max-width:170px}
.w2tb .wd180 {max-width:180px}
.w2tb .wd190 {max-width:190px}
.w2tb .wd200 {max-width:200px}
.w2tb .wd210 {max-width:210px}
.w2tb .wd220 {max-width:220px}
.w2tb .wd230 {max-width:230px}
.w2tb .wd240 {max-width:240px}
.w2tb .wd250 {max-width:250px}
.w2tb .wd260 {max-width:260px}
.w2tb .wd270 {max-width:270px}
.w2tb .wd280 {max-width:280px}
.w2tb .wd290 {max-width:290px}
.w2tb .wd300 {max-width:300px}
.w2tb .wd310 {max-width:310px}
.w2tb .wd320 {max-width:320px}
.w2tb .wd330 {max-width:330px}
.w2tb .wd340 {max-width:340px}
.w2tb .wd350 {max-width:350px}
.w2tb .wd360 {max-width:360px}
.w2tb .wd370 {max-width:370px}
.w2tb .wd380 {max-width:380px}
.w2tb .wd390 {max-width:390px}
.w2tb .wd400 {max-width:400px}
.w2tb .wd450 {max-width:450px}
.w2tb .wd500 {max-width:500px}
.w2tb .wd550 {max-width:550px}
.w2tb .wd600 {max-width:600px}
.w2tb .wd650 {max-width:650px}
.w2tb .wd700 {max-width:700px}
.w2tb [class*="wd"] {width:100%;min-width:0}
.w2tb .wd33p {width:33.33%;min-width:0}
.w2tb .wd50p {width:50%;min-width:0}
.w2tb .wd_half {width:50%;min-width:0}

.w2tb .fid [class*="wd"],
.fid.fn [class*="wd"] {max-width:none}
.fid.fn .wd60,
.fid .wd60.fn {width:60px}
.fid.fn .wd70,
.fid .wd70.fn {width:70px}
.fid.fn .wd80,
.fid .wd80.fn {width:80px}
.fid.fn .wd90,
.fid .wd90.fn {width:90px}
.fid.fn .wd100,
.fid .wd100.fn {width:100px}
.fid.fn .wd110,
.fid .wd110.fn {width:110px}
.fid.fn .wd120,
.fid .wd120.fn {width:120px}
.fid.fn .wd130,
.fid .wd130.fn {width:130px}
.fid.fn .wd140,
.fid .wd140.fn {width:140px}
.fid.fn .wd150,
.fid .wd150.fn {width:150px}
.fid.fn .wd160,
.fid .wd160.fn {width:160px}
.fid.fn .wd170,
.fid .wd170.fn {width:170px}
.fid.fn .wd180,
.fid .wd180.fn {width:180px}
.fid.fn .wd190,
.fid .wd190.fn {width:190px}
.fid.fn .wd200,
.fid .wd200.fn {width:200px}
.fid.fn .wd210,
.fid .wd210.fn {width:210px}
.fid.fn .wd220,
.fid .wd220.fn {width:220px}
.fid.fn .wd230,
.fid .wd230.fn {width:230px}
.fid.fn .wd240,
.fid .wd240.fn {width:240px}
.fid.fn .wd250,
.fid .wd250.fn {width:250px}
.fid.fn .wd260,
.fid .wd260.fn {width:260px}
.fid.fn .wd270,
.fid .wd270.fn {width:270px}
.fid.fn .wd280,
.fid .wd280.fn {width:280px}
.fid.fn .wd290,
.fid .wd290.fn {width:290px}
.fid.fn .wd300,
.fid .wd300.fn {width:300px}
.fid.fn .wd310,
.fid .wd310.fn {width:310px}
.fid.fn .wd320,
.fid .wd320.fn {width:320px}
.fid.fn .wd330,
.fid .wd330.fn {width:330px}
.fid.fn .wd340,
.fid .wd340.fn {width:340px}
.fid.fn .wd350,
.fid .wd350.fn {width:350px}
.fid.fn .wd360,
.fid .wd360.fn {width:360px}
.fid.fn .wd370,
.fid .wd370.fn {width:370px}
.fid.fn .wd380,
.fid .wd380.fn {width:380px}
.fid.fn .wd390,
.fid .wd390.fn {width:390px}
.fid.fn .wd400,
.fid .wd400.fn {width:400px}
.fid.fn .wd450,
.fid .wd450.fn {width:450px}
.fid.fn .wd500,
.fid .wd500.fn {width:500px}
.fid.fn .wd550,
.fid .wd550.fn {width:550px}
.fid.fn .wd600,
.fid .wd600.fn {width:600px}
.fid.fn .wd650,
.fid .wd650.fn {width:650px}
.fid.fn .wd700,
.fid .wd700.fn {width:700px}
