<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ev="http://www.w3.org/2001/xml-events"
    xmlns:w2="http://www.inswave.com/websquare" xmlns:xf="http://www.w3.org/2002/xforms">
    <head meta_vertical_guides="" meta_horizontal_guides="22 18 19">
    	<w2:type palette="support">COMPONENT</w2:type>
    	<w2:buildDate />
    	<w2:MSA />
    	<xf:model>
    		<w2:dataCollection baseNode="map" />
    		<w2:workflowCollection />
    	</xf:model>
    	<w2:layoutInfo />
    	<w2:publicInfo method="scwin.finish" />
    	<script lazy="false" type="text/javascript"><![CDATA[
/**
 * @component
 * @componentName udc_app
 * @pluginName 
 * @company Inswave
 * @developer uapmobile
 * @category /udc/matrix
 * @notSupportBrowser 
 * @version
 * @htmlRender
 * @icon iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAArklEQVR42mNgGNSA+9DqAhAm2wCe
 * gysbQJgEG1de4Dq0MgCXASA57oOrzuNx7qoHDPvXC+B0AVAOpAaIE7Daju5fbF4AW4TNFTyHVv3n
 * ObzagZABIDUgtcQZAFKMTQybAdi8gDusVl7ALnFw5X3kQMQAoEAEqsEaiAhXrJqP1RBIDMzHajuq
 * IqAhIFsOrsoH+tUehEFsiM1AzfhciHDJqgSQYnDAAjHUZQmDM8MBALerh4G+xt6fAAAAAElFTkSu
 * QmCC
 * @disableIcon iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAApklEQVR42s1SwQ3CMAzsCN2Isx3+
 * jNANYAQ2YaSyAWwCueRBqc6iEg+wdFISX85nJ8Pw1+EoJ+IbgTOx+YJZXIE4ZALMGcqc27W4Axhz
 * AYzkOHyS1df9qhbIkS7cygMo+CRADrmbBLhXZ1JAtZDNilydQNyWQ1wHc+TIIb5cxEWJtBeoOVn9
 * rUIldCdxNNvviLauZ/2f5A4X7fjU3NRhEd1ZYvvn8QTmZ1hp80IStwAAAABJRU5ErkJggg==
 * @description app UDC
 * @width 100px
 * @height 20px
 * @license
 * @imagePath
 * @homepage
 */

/**
 * @property
 * @name id
 * @category 01.Basic & ETC
 * @type string
 * @option
 * @default
 * @necessary N
 * @bindparent
 * @description desc
 */

/**
 * @property
 * @name class
 * @category 01.Basic & ETC
 * @type string
 * @option
 * @default
 * @necessary N
 * @bindparent
 * @description desc
 */

/**
 * @property
 * @name style
 * @category 01.Basic & ETC
 * @type string
 * @option
 * @default
 * @necessary N
 * @bindparent
 * @description desc
 */

/**
 * @property
 * @name message
 * @category 01.Basic & ETC
 * @type string
 * @option
 * @default
 * @necessary N
 * @bindparent
 * @description 팝업 메세지에 들어갈 메세지
 */

/**
 * @property
 * @name popup
 * @category 01.Basic & ETC
 * @type combobox
 * @option [true, false]
 * @default true
 * @necessary Y
 * @bindparent
 * @description 팝업사용여부
 */

/**
 * @property
 * @name cancelButton
 * @category 01.Basic & ETC
 * @type combobox
 * @option [true, false]
 * @default true
 * @necessary Y
 * @bindparent
 * @description 취소버튼여부
 */

scwin.onpageload = function() {
	
};

/**
 * @event
 * @name onFinish
 * @description 팝업 메세지를 띄워 종료 메시지를 알리고 결과값을 반환받는 이벤트
 * @param {Object} result 종료 팝업 메시지를 띄운 후 앱을 종료한다.
 * @example
 */
scwin.emit_onFinish = function (result) {
	$p.emit("onFinish", result);
};

scwin.btn_finish_onclick = function (e) {
    try {
        if(typeof $h == "object") {
            let options = $p.getOptions();

            options.popup == (options.popup == "true") ? true : false;
            options.cancelButton == (options.cancelButton == "true") ? true : false;
        
           // console.log(options);
            $h.app.finish(scwin.emit_onFinish,options);
        }
    } catch (error) {
        console.error(error);
    }
};

/**
 * @method
 * @name finish
 * @description app finish
 * @param
 * @returns
 * @hidden N
 * @exception
 * @example ex)
 * (async()=>{
 *     const result = await udc_app.finish();
 * })();
 * 
 */
scwin.finish = function () {
    return new Promise((resolve, reject) => {
        try {
            let options = $p.getOptions();
            options.popup == (options.popup == "true") ? true : false;
            options.cancelButton == (options.cancelButton == "true") ? true : false;
            $h.app.finish(resolve,options);
        } catch(err){
            reject(err);
        } 
    });
}]]></script>
    </head>
    <body ev:onpageload="scwin.onpageload">
    	<w2:anchor outerDiv="false" id="btn_finish" style="width: 100px;height: 23px;" ev:onclick="scwin.btn_finish_onclick">
    		<xf:label><![CDATA[app 종료]]></xf:label>
    	</w2:anchor>
    </body>
</html>
